<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://java-enterprise-210119.cfbwogubvp82.us-east-1.rds.amazonaws.com:5432/ERS_KW</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password" >Charlotte704!</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="com.revature.models.User"/>
<!--        <property name="connection.pool_size">1</property>-->
<!--        <property name="current_session_context_class">thread</property>-->
    </session-factory>
</hibernate-configuration>